li{
    list-style: none;
    width: 100%;
}

mat-card{
    background-color:pink;
    margin-bottom: 10%;
    margin-right: 10%;
    width: 100%;
}

span{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

div{
    margin-right: 13%;
}

/*a{
    list-style: none;
    color: black;
}

a:hover{
    color:rgb(190, 64, 190);
}*/

button{
    list-style: none;
    background-color: pink;
    border: none;
    width: 10%;
}

button:hover{
    color:rgb(190, 64, 190);
}
