<nav>
    <ul>
        <li><app-abierto></app-abierto></li>
        <li><app-proceso></app-proceso></li>
        <li><app-cerrado></app-cerrado></li>
    </ul>
</nav>

<app-footer></app-footer>

<!--<table>
    <tr>
        <th>Titulo</th>
        <th>Estado</th>
        <th>Descripcion</th>
    </tr>
    Para que se repita en todo los td, Donde Lista esta declarada en el .ts
    <tr *ngFor="let item of ListaNotas">
        <td><a [routerLink]="['/notas',item.titulo]" routerLinkActive="router-link-active" >{{item.titulo}}</a></td>
        <td>{{item.estado}}</td>
        <td>{{item.descripcion}}</td>
    </tr>
</table>
-->
