li{
    list-style: none;
    width: 100%;
}

mat-card{
    background-color: rgb(241, 241, 149);
    margin-bottom: 10%;
    margin-right: 10%;
    width: 100%;
}

span{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

div{
    margin-right: 13%;
}

/*a{
    list-style: none;
    color: black;
}

a:hover{
    color:rgb(241, 241, 149);
}*/

button{
    list-style: none;
    background-color: rgb(241, 241, 149);
    border: none;
    width: 10%;
}

button:hover{
    color:rgb(178, 231, 135);
}