<form [formGroup]="formulario">
    <p>
        <mat-form-field appearance="legacy">
          <mat-label>Titulo</mat-label>
          <input matInput placeholder="titulo" formControlName="titulo">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Estado</mat-label>
          <input matInput placeholder="Estado" formControlName="estado">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Descripcion</mat-label>
          <input matInput placeholder="Descripcion" formControlName="descripcion">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
</form>
