footer{
    clear:both;
    
    margin-bottom: 0%;
}

button{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
}


a{
    list-style: none;
    color: black;
}



