nav{
    background-color: pink;
    width: 20%;
    text-align:center;
    float: left;
}

ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
}

button{
    //Para que el color inicial no se vea
    background-color: pink;
    width: 20%;
}