mat-form-field{
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 100%;
    padding-right: 10%;
}

button{
    float: right;
    margin-right: 10%;
}

form{
    float: right;
    width: 50%;
}